{% extends "/layout.html" %} {% block main %}
<div class="container lead">
  <div class="panel-body text-center">
    <h1>Authorization Response & Access Token Request</h1>
  </div>
  <h2>Authorization Response</h2>
  <pre>
    {{ req }}
  </pre>
  <h3>Authorization Response unpacked</h3>
  <h3>Parameters</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr><th>Parameter</th><th>Current Value</th></tr>
    </thead>
    <tbody>
      <tr><td>code</td><td>{{ code }}</td></tr>
      <tr><td>state</td><td>{{ state }}</td></tr>
    </tbody>
  </table>
  <h2>Access Token Request</h2>
  <h3>Authorization Server</h3>
  <p>Token endpoint: {{ as_token_url }}</p>
  <h3>Parameters</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr><th>Parameter</th><th>Current Value</th></tr>
    </thead>
    <tbody>
      <tr><td>grant_type</td><td>authorization_code</td></tr>
      <tr><td>code</td><td>{{ code }}</td></tr>
      <tr><td>state</td><td>{{ state }}</td></tr>
      <tr><td>client_id</td><td>{{ client_id }}</td></tr>
      <tr><td>client_secret</td><td>{{ client_secret }}</td></tr>
      <tr><td>redirect_uri</td><td>{{ redirect_uri }}</td></tr>
    </tbody>
  </table>
  <h3>Full Token request</h3>
  <pre class="lead">
    POST {{ as_token_url }}

    grant_type=authorization_code
    code={{code}}
    state={{state}}
    client_id={{client_id}}
    client_secret={{client_secret}}
    redirect_uri={{redirect_uri}}
  </pre>

  <div class="panel-body text-center">
    <a href="{{ url_for('access_token') }}"  class="btn btn-primary btn-lg" role="button">
      Request an Access Token
    </a>
  </div>
</div>
{% endblock %}
